




*{
    color: #000;
    
    text-decoration: none;
    font-family: serif;
    background-image:url(../recipes/pictures/baklava.jpg);
    background-color: rgb(185, 127, 72);
}



h1{
    font-size: 60px;
    text-shadow: 3px 4px 3px rgb(139, 133, 133);
    text-align: center;
}




img{
  object-fit: cover;
  display:flex;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 3px 3px 4px rgba(100, 95, 95, 0.397) ;

  
}

h2{ 
      font-size: 25px;
      text-align: center;
      margin: 80px 0;
}
 

.intro {
margin: 80px 0;
    font-size: 18px;
    text-align: center;

}

.Ingredients, .Steps{
    font-size: 20px;
    text-align: center;
    margin: 19px;
list-style-position: inside;
}

 .Steps li{
    margin: 50px 0;
}

.Ingredients li{

    margin: 20px 0;
}

.links{text-align: center;}
  


a {
  display: inline-flex;  justify-content: center;
    align-items: center;
    width: 300px;
    margin: 30px;
    border: 2px;
    padding: 10px;

     border-radius: 5px;
     box-shadow: 5px 2px 3px;
    font-size: 24px;
    background-color: rgb(179, 175, 170);


}


a:hover{background-color: rgb(128, 123, 109);}