


* {
    box-sizing: border-box;
    text-decoration: none;
    background-color: rgb(185, 127, 72);
}
div{
    color: rgb(160, 149, 149);
    text-align: center;
}



#title{
    text-align: center;
    font-family:serif;
    font-size:70px;
    font-weight: 800px;
    margin:auto;
    text-shadow: 5px 3px 3px rgb(146, 137, 137);
}


a{   display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: 30px;
    border: 2px;
    padding: 10px;

     border-radius: 5px;
     box-shadow: 5px 2px 3px black;
    font-size: 24px;
    background-color: rgb(179, 175, 170);

}


.image {
filter: blur(10px);
-webkit-filter: blur(10);
box-sizing: content-box;
}

a:hover{background-color: rgb(128, 123, 109);}